<div class="weather-container">
  <div class="current-conditions">
    <h1 class="heading-middle">Weather Forecast</h1>
    <%= render 'search' %>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
    <% end %>

  </div>
</div>
